<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="foot">
<meta charset="UTF-8">
</head>
<body>
	<br>
	<footer class="page-footer dark">
		<div class="container">
			<div class="row">
				<div  class="col-sm-3">
					<h5>Ir a Inicio</h5>
						<ul>
							<li><a href="/catalogo">Inicio</a></li>
						</ul>
				</div>
				<div class="col-sm-3">
					<h5>Acerca de</h5>
						<ul>
							<li><a href="/acercade">YaProfe</a></li>
							<li><a href="#">Contáctanos</a></li>
						</ul>
				</div>
				<div class="col-sm-3">
					<h5>Soporte</h5>
						<ul>
							<li><a href="#">FAQ</a></li>
						</ul>
				</div>
				<div class="col-sm-3">
					<h5>Legal</h5>
						<ul>
							<li><a>Copyright 2019</a></li>
						</ul>
				</div>
			</div>
		</div>
	</footer>
		<script th:src="@{/js/starrr.js}"></script>
		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/jquery-ui.min.js}"></script>
		<script th:src="@{/js/datatables.min.js}"></script>
		<script th:src="@{/js/datatable-language.js}"></script>
		
		
		
</body>
</html>